.venv/*
data/labevents_death.csv
scripts/.DS_Store
.DS_Store
*.pyc

scripts/__pycache__/
.Rproj.user

r scripts/.RData
r scripts/.ipynb_checkpoints/
r scripts/r_example.R

img/*

.ipynb_checkpoints/
/aes/.ipynb_checkpoints
